
.option-btn {
    height:100%;
    margin-top:5px
}

.main-container{
    display: flex;
    flex-direction: row;
    height:10vh;
}

@media (min-width: 481px) and (max-width: 767px) {
    .main-container{
        display: flex;
        flex-direction: row;
        height:10vh;
        /* height: 100px; */
    }
    
    .option-btn {
        height:100%;
        margin-top:5px
    }
    
}