<div class="main-container">
    <!-- <div class="row">
        <button class="col-6" mat-flat-button><</button>
        <button class="col-6" mat-flat-button>></button>
    </div> -->
    <!-- <div class="row"> -->
        <button mat-flat-button 
        [disabled]="isBtnDisabled"
        class="option-btn col-3" style="background-color: grey;color:white">Cancel</button>
        <button (click)="saveBill('Stored')"
         mat-flat-button
        [disabled]="isBtnDisabled"
        class="option-btn col-3" style="background-color: red;color:white">Store</button>
        <button (click)="saveBill('Cashed')"
        [disabled]="isBtnDisabled"
         mat-flat-button  class="option-btn col-6" color="primary">Cash</button>
    <!-- </div> -->
</div>