<div class="container-fluid">
    <div class="row">
        <button class="col-6" mat-flat-button><</button>
        <button class="col-6" mat-flat-button>></button>
    </div>
    <div class="row">
        <button mat-flat-button  class="option-btn col-3" style="background-color: grey;color:white">Cancel</button>
        <button mat-flat-button  class="option-btn col-3" style="background-color: red;color:white">Print</button>
        <button mat-flat-button  class="option-btn col-6" color="primary">Cash</button>
    </div>
</div>