.form-field{
    width:80%;
    /* padding: 10px; */
    margin-bottom:5px;
}

.main-container{
    padding:40px;
    overflow: hidden;
    height: 100%;
}

@media (min-width: 0px) and (max-width: 480px) {
 
    .main-container{
        padding:20px;
        overflow: hidden;
        height: 100%;
    }

    .form-field{
        width:100%;
        /* padding: 10px; */
        margin-bottom:5px;
    }
}