.main-container{
    padding:40px;
    overflow: hidden;
    height: 100%;
}

.box-container{
    display: flex;
}

@media (min-width: 0px) and (max-width: 480px) {
 
    .main-container{
        padding:20px;
        overflow: hidden;
        height: 100%;
    }
}