@media(min-width:100px) and (max-width:576px){
    .main-container{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 5px;
        height: 20vh;
        overflow: scroll; 
        justify-content: center;
    }
    
    .main-container button{
        height:50%;
        width:25%;
        margin:5px;
    }
  }
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 768px)  {
    .main-container{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 5px;
        height: 20vh;
        overflow: scroll; 
        justify-content: center;
    }
    
    .main-container button{
        height:50%;
        width:25%;
        margin:5px;
    }
   }
  
  /*  Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width:992px) {
    .main-container{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 5px;
        height: 100%;
        overflow: scroll; 
        justify-content: center;
        align-content: flex-start; /* Add this*/

    }
    
    .main-container button{
        height:10%;
        width:20%;
        margin:5px;
    }
        }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width:1200px) {
    .main-container{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 5px;
        height: 100%;
        overflow: scroll; 
        justify-content: center;
        align-content: flex-start; /* Add this*/

    }
    
    .main-container button{
        height:10%;
        width:20%;
        margin:5px;
    }
    }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .main-container{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 5px;
        height: 100%;
        overflow-y: auto; 
        justify-content: center;
        align-content: flex-start; /* Add this*/

    }
    
    .main-container button{
        height:10%;
        width:20%;
        margin:5px;
    }

    }
  

