<p>Add Category</p>

<div class="container-fluid" style="width:80%">
    <form [formGroup] = "addFormGroup" >
    <mat-form-field appearance="fill"  class="form-field">
        <mat-label>Category name</mat-label>
        <input formControlName="categoryName" matInput  >
        <mat-error *ngIf = 'addFormGroup.get("categoryName").invalid'>Category name must be at least 1 char and max 20 char</mat-error>
    </mat-form-field>
    <br>

      <button (click)="addCategory()" mat-button color="primary">Save</button>
    </form>
</div>
