<div class="main-container">
    <!-- <div class="row h-100"> -->
        <app-categories 
        [categories]="categoriesAndItemsFacade.getCategories$()"
        [selectedCategory]="categoriesAndItemsFacade.getSelectedCategory$()"
        (onCategoryClicked)=categoriesAndItemsFacade.getProductsByCategoryId($event)
          style="border:1px black dashed">
         </app-categories>

        <app-items 
        [products]="categoriesAndItemsFacade.getCurrentProducts$()"
        (onItemClicked) = "itemClicked($event)"
         style="border:1px blue dashed">
        </app-items>
    <!-- </div> -->
</div>

