<p>Add Item</p>

<div class="container-fluid" style="width:80%">
    <form [formGroup] = "addFormGroup" >
    <mat-form-field appearance="fill"  class="form-field">
        <mat-label>Item name</mat-label>
        <input formControlName="itemName" matInput  >
        <mat-error *ngIf = 'addFormGroup.get("itemName").invalid'>Item name must be at least 1 char and max 20 char</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Item Price</mat-label>
        <input matInput  formControlName="itemPrice">
        <mat-error *ngIf='addFormGroup.get("itemName").invalid'>item price must be at least 1 digit and at least 5 digits</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Item Category</mat-label>
        <mat-select  formControlName="itemCategory">
            <mat-option *ngFor="let category of data.categoryList | async" [value]="category._id" >
                {{category.category_name}}
            </mat-option>   
        </mat-select>
        <mat-error *ngIf='addFormGroup.get("itemCategory").invalid'>Plz Select category</mat-error>

    </mat-form-field>
    <br>

      <button (click)="addItem()" mat-button color="primary">Save</button>
    </form>
</div>
