<div class="container-fluid">
    <div class="row">
        <div class="col-6">Tax</div>
        <div class="col-6 float-right" style="text-align:right">120</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Service</div>
        <div class="col-sm-6" style="text-align:right">500</div>
    </div>
    <div class="row">
        <div class="col-sm-6">SubTotal</div>
        <div class="col-sm-6 " style="text-align:right">250</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Total</div>
        <div class="col-sm-6" style="text-align:right">500</div>
    </div>
</div>