.container-fluid{
    height:90px;
}
.main-container{
    display: flex;
    flex-direction: column;
    height:15vh;
    overflow-y: auto;

}
.item{
    display: flex;
    flex-direction: row;
}



@media (min-width: 481px) and (max-width: 767px) {
    .main-container{
        display: flex;
        flex-direction: column;
        height:15vh;
        overflow: auto;
        /* height: 100px; */
    }
    
  
}
