@media(min-width:100px) and (max-width:576px){
    .main-container{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        min-height: 0;
        
    }  
    .bill-header-container{
        /* flex:1; */
    }
    .app-bill-body-container{
        flex:3;
        height: max-content;

        overflow: auto;
    }
    .app-bill-footer-container{
        /* flex:2; */
        overflow: auto;
    }
    .app-bill-option-container{
        /* flex:1; */
        overflow: auto;
    }

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
    .main-container{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        min-height: 0;
        
    }  
    .bill-header-container{
        /* flex:1; */
    }
    .app-bill-body-container{
        flex:3;
        height: max-content;
        overflow: auto;
    }
    .app-bill-footer-container{
        /* flex:0; */
        overflow: auto;
    }
    .app-bill-option-container{
        flex:1;
        overflow: auto;
    }
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:992px) { 
    .main-container{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        min-height: 0;
        /* align-items: stretch; */

        
    }  
    .bill-header-container{
        /* flex:0.5; */
    overflow: auto;
    }
    .app-bill-body-container{
        flex:3;
        /* height: max-content; */
        flex-basis: 0;
        overflow: auto;
    }
    .app-bill-footer-container{
        /* flex:1; */
        overflow: auto;
    }
    .app-bill-option-container{
        flex:0.5;
        overflow: auto;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .main-container{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        min-height: 0;
        /* align-items: stretch; */

        
    }  
    .bill-header-container{
    /* flex:0.5; */
    overflow: auto;
    }
    .app-bill-body-container{
        flex:3;
        /* height: max-content; */
        flex-basis: 0;
        overflow: auto;
    }
    .app-bill-footer-container{
        /* flex:1; */
        overflow: auto;
    }
    .app-bill-option-container{
        flex:0.5;
        overflow: auto;
    }
  }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main-container{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        min-height: 0;
        /* align-items: stretch; */

        
    }  
    .bill-header-container{
    /* flex:0.5; */
    overflow: auto;
    }
    .app-bill-body-container{
        flex:3;
        /* height: max-content; */
        flex-basis: 0;
        overflow: auto;

    }
    .app-bill-footer-container{
        /* flex:1; */
        overflow: auto;
    }
    .app-bill-option-container{
        flex:0.3;
        overflow: auto;
    }
 }
