.main-container{
    display: flex;
    flex-direction: column;
    border:1px black solid;
    overflow-y: auto;
    height: 87vh;
}
/* app-bill-header{
    border:1px black solid;
    flex:2
}
app-bill-body{
    flex:4
}
app-bill-footer{
    flex:2
}
app-bill-option{
    flex:1
} */
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
       
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .main-container{
        display: flex;
        flex-direction: column;
        border:1px black solid;
        overflow-y: auto;
        height: 50vh;
    }   
    /* .main-container{
        height:60vh
    } */
    app-bill-header{
        flex:0
    }
    app-bill-body{
        overflow: auto;
        flex:2;
        /* height: 25vh; */
        border:1px yellow solid
    }
    app-bill-footer{
        flex:0.5
    }
    app-bill-option{
        flex:0.5
    }
    
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 0px) and (max-width: 480px) {
  .main-container{
        border:2px red dashed 
 }
    
}