.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 88vh;
    overflow-y: auto;
    border:solid 2px #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

app-table-btn {
    /* flex-grow:0;
    flex-shrink:0;
    flex-basis:calc(50% - 10px); 
    background: orange; */
    margin: 5px;
  }